h3{
    color: #489cdf;
}
h4{
    color: #2EFE2E;
}
h5{
    color:#FE2E2E;
}
.parrafo{
    border: 2px solid;
    background: chocolate;
}

.link{
    text-decoration:none;
}

.rojo{
    color: red;
}
.tacha{
    text-decoration:line-through;
}
